# VLC media player VLM command batch
# http://www.videolan.org/vlc/

# Achtung: für reine Mjpeg-files ohne Container muss die vlc-Option: --demux=avformat angegeben werden
# Abspielrate:  --mjpeg-fps=10  

# https://github.com/waveform80/picamera/issues/335

# https://wiki.videolan.org/Documentation:Streaming_HowTo/VLM/
#
new mystream vod enabled
setup mystream input "videos/htw.mjpeg"

new movie vod enabled
setup movie input "movie.mjpeg"

new movie2 vod enabled
setup movie2 input "prakvid.mjpeg"

new movie3 vod enabled
setup movie3 input "movie3.mjpeg"


new mymp4 vod enabled
setup mymp4 input "SampleVideo_1080x720_1mb.mp4"

new htw vod enabled
setup htw input "htw3.mjpeg"

new maulwurf vod enabled
setup maulwurf input "Maulwurf.mjpeg"
